{# This file can contain arbitrary HTML that will be "force compiled" into the Tailwind bundle.
    The use case is for dynamic properties that may only exist in the database and not technically in any templates.
 #}
 {# Make sure all default buttons can be rendered, as they are often dynamically set in preprocess logic. #}
 <div class="btn-blue btn-red btn-base"></div>
