{# templates/form.html.twig (if needed) #}
<form {{ attributes.addClass("flex items-center justify-center min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8") }}>
    <div class="max-w-md w-full space-y-8">
         {{ children }}
    </div>
</div>
