@import 'variables';
/* Define a custom keyframes animation for the glow effect */
$bgPrimary: map-get($map: $backgroundColor,  $key: "primary");
$bgSecondary: map-get($map: $backgroundColor,  $key: "secondary");

@keyframes glow {
    0% {
      box-shadow: 0 0 5px #fff;
    }
    50% {
      box-shadow: 0 0 20px , $bgPrimary 0 0 30px $bgSecondary;
    }
    100% {
      box-shadow: 0 0 5px #fff;
    }
  }

  /* Define a custom class for the glow effect */
  .glow:hover {
    animation: glow 1.5s infinite;
  }